# This is a basic workflow to help you get started with Actions

name: backup git

# Controls when the workflow will run
on: [push]
  # Triggers the workflow on push or pull request events but only for the "main" branch

  # Allows you to run this workflow manually from the Actions tab

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: 'src'
          ref: 'main'
          token: '${{ github.token }}'
          persist-credentials: true

      - name: Checkout2
        uses: actions/checkout@v3
        with:
          path: 'dest'
          ref: 'main'
          repository: 'leol0ps/backup-tcc'
          token: '${{ secrets.BASE_REPO }}'
          persist-credentials: true

      - name: UpCount
        shell: bash
        run: |
         mkdir -p dest/backup 
         cp src/backup/file.txt dest/backup
         cd dest
         git add .
         git config --global user.name "leol0ps"
         git config --global user.email "leotimao2@hotmail.com"
         git commit -m "new update"
         git push




      # Runs a single command using the runners shell
      - name: Run a one-line script
        run: echo Hello, world!

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          echo test, and deploy your project.
