name: action-test
on:
  workflow_dispatch:
    inputs:
      distinct_id:
  workflow_call:
    secrets:
      token: 
        required: true
      email:
        required: true
      user:
        required: true
      repo:
        required: true
        

jobs:
  test:
    runs-on: ubuntu-latest
    environment: test
    env:
       key: '${{secrets.HUBTOKEN}}'
    steps:
      - name: echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: 'src'
          ref: 'main'
          token: '${{ secrets.token }}'
          persist-credentials: true

      - name: Checkout2
        uses: actions/checkout@v3
        with:
          path: 'dest'
          ref: 'main'
          repository: 'leol0ps/backup-tcc'
          token: '${{ env.key}}'
          persist-credentials: true

      - name: UpCount
        shell: bash
        run: |
         DIFF=$(diff src/backup/file.txt dest/backup/file.txt)
         if [ "$DIFF" != "" ] 
            then
                run: exit 1
          fi
        
