name: action-test
on:
  workflow_dispatch:
    env:
      REP: '&{{github.event.inputs.repo}}'
    inputs:
      distinct_id:
      email:
      repo:
      user:
      
        

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: |
          echo ${{ github.event.inputs.distinct_id }}
          echo ${{github.event.inputs.repo}}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: 'src'
          ref: 'main'
          repository: '${{env.REP}}'
          token: '${{ secrets.token }}'
          persist-credentials: true

      - name: Checkout2
        uses: actions/checkout@v3
        with:
          path: 'dest'
          ref: 'main'
          repository: 'leol0ps/backup-tcc'
          token: '${{ secrets.BASE_REPO}}'
          persist-credentials: true

      - name: UpCount
        shell: bash
        run: |
         DIFF=$(diff src/backup/file.txt dest/backup/file.txt)
         if [ "$DIFF" != "" ] 
            then
                run: exit 1
          fi
        
