name: action-test
on:
  workflow_dispatch:
    inputs:
      distinct_id:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: 'src'
          ref: 'main'
          token: '${{ github.token }}'
          persist-credentials: true

      - name: Checkout2
        uses: actions/checkout@v3
        with:
          path: 'dest'
          ref: 'main'
          repository: 'leol0ps/backup-tcc'
          token: '${{ secrets.BASE_REPO }}'
          persist-credentials: true

      - name: UpCount
        shell: bash
        run: |
         DIFF=$(diff src/backup/file.txt dest/backup/file.txt)
         if [ "$DIFF" != "" ] 
            then
                run: exit 1
          fi
        
