name: action-test
on:
  workflow_dispatch:
    inputs:
      distinct_id:
      repo:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: echo distinct ID ${{ github.event.inputs.distinct_id }}
        run: echo ${{ github.event.inputs.distinct_id }}
      - name: Checkout
        run: |
          git clone https://${{ secrets.token }}@github.com/${{ github.event.inputs.repo }}.git
          
        
      - name: hub
        run: git clone https://github.com/leol0ps/hub
      - name: Checkout2
        uses: actions/checkout@v4
        with:
          path: 'problem'
          ref: 'main'
          repository: 'leol0ps/backup-tcc'
          token: '${{ secrets.BASE_REPO}}'
          persist-credentials: true
      - name: Updocker
        shell: bash
        run: |
            cp hub/docker-compose.yml problem/ 
            cd problem/
            docker compose up -d
      - name: Install dependencies
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - name: install
        working-directory: .
        run: |
          cd problem/
          yarn init -y
          yarn add --dev @playwright/test
          cd ..
      - name: Install Playwright Browsers
        run: npx playwright install chromium
      - name: Copy files
        run: | 
          ls
          cd student/
          cp ans.c ../problem/ 
          cd ..
          cp hub/contest.spec.ts problem/
          cd problem/
          ls
      - name: Check ans.c contents
        run: |
          cat problem/ans.c
          ls -lh problem/ans.c

          
      - name: Run test
        shell: bash
        run: |
          cd problem/
          npx playwright test > log.txt
          cp log.txt ../student
          cp screenshot.png ../student
      - name: Log Jail Output
        run: docker logs $(docker ps -q --filter "name=boca-jail")
      - name: Copy Boca Jail tmp files
        run: |
          CONTAINER_ID=$(docker ps -q --filter "name=boca-jail")
          mkdir -p boca_jail_tmp
          docker cp $CONTAINER_ID:/home/bocajail/tmp ./bocajailtmp
          cp -r bocajailtmp /student/
      - name: Sending ansers to student repo  
        run: |
          ls
          cd student/
          git config --global user.name "leol0ps"
          git config --global user.email "leotimao2@hotmail.com"
          git remote set-url origin https://x-access-token:${{ secrets.token }}@github.com/${{ github.event.inputs.repo }}
          git add log.txt
          git add screenshot.png
          git add bocajailtmp
          git commit -m "answer"
          git push
      
